# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases #
######################
*.log
*.sql
*.sqlite


# TexMaker Extras #
###################
*.aux
*.out
*.bak
*.bbl
*.blg
#*.tex

# Backups Internos#
###################
*.f03~
*.f03#
*~

# Salida con Datos #
####################
*.dat

#Imagenes#
##########
*.png
*.aux
*.aux
*.blg
*.log
Proyecto_MC/Reporte/ReporteMC.synctex.gz
Proyecto_MC/Reporte/Mod.f03
Proyecto_MC/Reporte/Main.f03
Proyecto_MC/Reporte/GDR.f03
Proyecto_MC/Reporte/EnergyPartSW.f03
Proyecto_MC/Reporte/EnergyPartHS.f03
Proyecto_MC/Reporte/EnergyConfigSW.f03
Proyecto_MC/Reporte/EnergyConfigHS.f03
Proyecto_MC/Reporte/ConfigIniReg.f03
Proyecto_MC/Reporte/ConfigIni.f03
Proyecto_MC/ReporteMC.pdf
